**/target
**/project
**/.idea


*.xml
*.iml
*.xml
*.class
*.cache
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
*.xml
*.iml
target/streams/test/unmanagedJars/$global/streams/export
project/target/streams/$global/projectDescriptors/$global/streams/out
project/target/streams/$global/update/$global/streams/update_cache_2.12/inputs
project/target/streams/compile/compile/$global/streams/out
project/target/streams/compile/copyResources/$global/streams/copy-resources
target/.history
*.css
*.xsl
*.xml
target/streams/$global/projectDescriptors/$global/streams/out
target/streams/$global/update/$global/streams/update_cache_2.11/inputs
target/streams/$global/update/$global/streams/out
target/streams/compile/managedClasspath/$global/streams/export
target/streams/compile/externalDependencyClasspath/$global/streams/export
target/streams/compile/unmanagedClasspath/$global/streams/export
target/streams/compile/unmanagedJars/$global/streams/export
target/streams/$global/updateClassifiers/$global/streams/out
target/streams/runtime/externalDependencyClasspath/$global/streams/export
target/streams/runtime/unmanagedClasspath/$global/streams/export
target/streams/test/externalDependencyClasspath/$global/streams/export
target/streams/test/managedClasspath/$global/streams/export
target/streams/$global/update/$global/streams/update_cache_2.11/output
target/streams/$global/update/$global/streams/update_cache_2.11/output
target/streams/$global/ivySbt/$global/streams/out
target/streams/runtime/unmanagedJars/$global/streams/export
*.iml
project/target/streams/compile/externalDependencyClasspath/$global/streams/export
project/target/streams/compile/unmanagedClasspath/$global/streams/export
project/target/streams/runtime/externalDependencyClasspath/$global/streams/export
project/target/streams/runtime/managedClasspath/$global/streams/export
